.button {
    background-color: rgb(12, 101, 136);
    border:none;
    color:white;
    padding: 20px 35px;
    margin: 1px 2px;
    text-align:center;
    text-decoration: none;
    font-size: 20px;
}

#butonPrije{
    background-color: rgb(231, 112, 112);
    border:none;
    color:white;
    padding: 15px 32px;
    margin: 2px 4px;
    text-align:center;
    text-decoration: none;
    display:inline-block;
    font-size: 20px;
}