
a, a:hover {
  text-decoration: none;
}

input:focus {
  outline: none;
}

body {
  display: flex;
  flex-direction: column;

}

body nav .search input {
  width: 394px;
  height: 40px;
  margin-right: 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}
body nav .search input::-webkit-input-placeholder {
  font-style: italic;
}
body nav .search input:-ms-input-placeholder {
  font-style: italic;
}
body nav .search input::-ms-input-placeholder {
  font-style: italic;
}
body nav .search input::placeholder {
  font-style: italic;
}
body .sellables-container {
  display: flex;
  flex: 1;
}
body .sellables-container .sellables {
  display: flex;
  flex-direction: column;
  flex: 1;
}
body .sellables-container .sellables .categories {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: .5em;
}
body .sellables-container .sellables .categories .category {
  padding: 17.5px;
  margin: 2px;
  border: 1px solid #c8cfd8;
  border-radius: 5px;
  background: #e6e9ed;
  color: #424A54;
}
body .sellables-container .sellables .categories .category:hover {
  background: #c8cfd8;
}
body .sellables-container .sellables .categories .active {
  background: #bac2cd;
  color: #424A54;
}
body .sellables-container .sellables .categories .active:hover {
  background: #abb5c2;
}
body .sellables-container .sellables .item-group-wrapper {
  overflow-y: scroll;
}
body .sellables-container .sellables .item-group-wrapper .item-group {
  display: flex;
  flex-wrap: wrap;
}
body .sellables-container .sellables .item-group-wrapper .item-group .item {
  padding: 50px 35px;
  margin: .5em .5em;
  border-radius: 5px;
  background: #9b59b6;
  color: #fff;
}
body .sellables-container .sellables .item-group-wrapper .item-group .item:hover {
  background: #804399;
}
body .sellables-container .register-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .sellables-container .register-wrapper .customer input {
  height: 40px;
  width: 394px;
  margin-top: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}
body .sellables-container .register-wrapper .customer input::-webkit-input-placeholder {
  font-style: italic;
}
body .sellables-container .register-wrapper .customer input:-ms-input-placeholder {
  font-style: italic;
}
body .sellables-container .register-wrapper .customer input::-ms-input-placeholder {
  font-style: italic;
}
body .sellables-container .register-wrapper .customer input::placeholder {
  font-style: italic;
}
body .sellables-container .register-wrapper .register {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  width: 400px;
  margin: 1em 2em;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background: #fff;
}
body .sellables-container .register-wrapper .register .products {
  display: flex;
  flex-direction: column;
}
body .sellables-container .register-wrapper .register .products .product-bar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #fff;
}
body .sellables-container .register-wrapper .register .products .product-bar:first-child {
  margin-top: 1em;
}
body .sellables-container .register-wrapper .register .products .product-bar:hover {
  background: #e6e6e6;
}
body .sellables-container .register-wrapper .register .products .selected {
  background: #68b3c8;
  color: #fff;
}
body .sellables-container .register-wrapper .register .products .selected:hover {
  background: #44a0b9;
}
body .sellables-container .register-wrapper .register .pay-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .sellables-container .register-wrapper .register .pay-button a {
  padding: 10px 125px;
  margin: 1em 0;
  border-radius: 5px;
  background: #42a07f;
  color: #fff;
}
body .sellables-container .register-wrapper .register .pay-button a:hover {
  background: #3b8e71;
}

body .sellables-container .register-wrapper .register .cancel-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .sellables-container .register-wrapper .register .cancel-button a {
  padding: 10px 45px;
  margin: 10;
  border-radius: 5px;
  background: #c12222;
  color: #fff;
}
body .sellables-container .register-wrapper .register .cancel-button a:hover {
  background: #3b8e71;
}
.btn-cancel{
background-color: #b80606!important;
    border-color: #b80606!important;
    color: #FFFFFF;
}
.btn-block+.btn-block {
    margin-top: 0px!important;
}